body {
	padding: 70px;
}

p {
	cursor: pointer;
	margin: 0;
}

.list-group-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.completed {
	text-decoration: line-through;
}
